*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: hsl(217, 54%, 11%);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align:left;
    font-family: 'Outfit', sans-serif;
    font-size: 18px;
}

.card {
    background: hsl(216, 50%, 16%);
    color: white;
    width: 18rem;
    border-radius: 15px;
    padding: 1.3rem;
}

.view{
    width: 15.4rem;
    height: 15.4rem;
    position: absolute;
    transform: translate(0,-15.62rem);
    display: flex;
    align-items: center;
    justify-content: center;
    background: hsla(178, 100%, 50%, 0.5);
    opacity: 0;
}



.view img.eye{
    width: 2.5rem;
}

.view:hover{
    opacity: 1;
    cursor: pointer;
    transition: all 0.5s;
}
.view:hover + h1{
    color:hsl(178, 100%, 50%);
    transition: all 0.5s;
}


.card img {
    width: 15.4rem;
    border-radius:8px;
    
}

.card h1{
    font-size: 1.2rem;
    font-weight: 400px;
    margin: 10px 0;
}

.card p{
    color: hsl(215, 51%, 70%);
    font-size: 0.9rem;
    font-weight: 300;
}

.container-details{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    border-bottom: 1px solid hsla(219, 15%, 55%, 0.24);
    padding-bottom: 20px;
}

.container-eth {
    color:hsl(178, 100%, 50%);
    font-size: 0.78rem;
}
.container-eth span{
    vertical-align: middle;
}
.container-eth img{
    margin-right: 4px;
    width: 0.55rem;
    height: auto;
    vertical-align: middle;
}

.container-time{
    font-size: 0.78rem;
    vertical-align: middle;
}

.container-time img{
    margin-right: 4px;
    width: 0.8rem;
    vertical-align: middle;
}

.container-time span{
    vertical-align: middle;
    color: hsl(215, 51%, 70%);
}

.creator{
    display: flex;
    align-items: center;
}

.creator img{
    width: 1.8rem;
    border: 1px solid white;
    border-radius: 50%;
    margin: 0.75rem 0.75rem 0.5rem 0;
}

.creator p{
    font-size: 0.8rem;
    
}

.creator span{
    color:white;
    
}
